.ace_editor {
  background:none;
  background-color: rgba(0,0,0,0.5) !important;
}

.noteView rect {
    transition: fill 0.5s ease;
    transition: stroke 0.7s ease;
    stroke: black;
    stroke-width: 0.001px;
  }



.noteView:hover rect {
  fill: white !important;
  stroke: white;
  stroke-width: 0.002px;
}
